@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

/*-- font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;

/*----- global attributes -----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*------ beginning of global styling -----*/
html {
  font-size: ;
}
.btn {
  margin: 10px 20px;
  width: auto;
  background: transparent;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  transition: transform 0.3s ease-out;
}
.btn2 {
  margin: 10px ;
  width: auto;
  background: transparent;
  color: rgb(4, 0, 255);
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  transition: transform 0.3s ease-out;
}
.btn:hover {
  color: #000;
  background: transparent;
  transform: translateY(3px);
}
.btn-show-all {
  border: 2px solid #002d62;
  border-radius: 5px;
  height: 40px;
  width: 100px;
  color: #000;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .btn {
    margin: 10px;
    font-family: 'Open Sans', sans-serif;
  }
  .btn-show-all {
  }
}

/*----- navigation menu styling -----*/
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  
}
.logo {
  width: 30%;
  text-align: center;
  margin-left: 40px;
  height: 100%;
  display: flex;
  align-items: center;
}
.logo a {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 25px;
  color: #034694;
  transition: transform 0.3s ease-out;
  text-decoration: none;
}
.logo a:hover {
  color: #000;
  transform: translateX(2px);
}
.nav-links {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-links a {
  margin: 10px;
  margin-right: 40px;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  transition: transform 0.3s ease-out;
}
.nav-links a:hover {
  color: #034694;
  transform: translateX(2px);
}
.contactTab {
  background: #034694;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 8%;
  height: 30px;
  border-radius: 5px;
  margin: ;
}
.contactTab a {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.contactTab a:hover {
  background: #fff;
  color: #034694;
}
.socialBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  margin-left: 120px;

}
.socialBtn {
  margin: 20px;
  width: auto;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  transition: transform 0.3s ease-out;
}
.socialBtn:hover {
  color: #000;
  transform: translateX(2px);
}
.btn2 {
  color: #002d62;
}
.btn3 {
  color: #000;
}
.btn4 {
  color: #5387c2;
}

@media screen and (max-width: 480px) {
  #navbar {
    flex-direction: column;
    justify-content: center;
    height: 70px;
    width: 100%;
  }
  .logo {
    margin: auto;
    width: auto;
    height: 50%;
  }
  .logo a {
    font-size: 20px;
  }
  .logo a:hover {
    
  }
  .nav-links {
    border-top: 1px solid #000;
    height: auto;
    width: auto;
  }
  .nav-links a {
    font-size: 13px;
    margin-right: 20px;
  }
  .nav-links a:hover {
    
  }
  .contactTab {
    display: none;
  }
  .socialBtns {
    display: none;
  }
}


/*----- welcome section styling -----*/
.welcome-section {
  margin-top: 50px;
  height: auto;
  display: flex;
  width: 100%;
  text-align: center;
}
.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #034694;
  height: 80vh;
  width: 60vw;
}

.text-container > h1 {
  margin-bottom: 30px;
  font-size: 40px;
  color: #fff;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.text-container > p {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  width: 90%;
  color: #fff;
}

.about-link {
  margin: 10px auto;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.img-container {
  height: 80vh;
  width: 40vw;
}
.myImg {
  height: 100%;
  width: 100%;
}


@media screen and (max-width: 480px) {
  .welcome-section {
    flex-direction: column;
    margin-top: 70px;
  }
  .text-container {
    height: 50vh;
    width: 100%;
  }
  
  .text-container > h1 {
    margin-bottom: 20px;
    font-size: 30px;
  }
  
  .text-container > p {
    font-size: 14px;
    width: 90%;
  }
  
  .about-link {
    
  }
  
  .img-container {
    height: 50vh;
    width: 100%;
  }
}  



/*----- projects section styling -----*/
.projects-section {
  text-align: center;
  padding: 30px 30px;
  background: #fff;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-section-heading {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  width: 30%;
  border-bottom: 3px solid #002d62;
  text-align: left;
  margin-bottom: 30px;
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 30px;
  height: auto;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
}
.project {
  background: #000;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  border-bottom: 3px solid #002d62;
  height: 300px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
}

.code {
  color: #fff;
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #fff;
}
.project:hover {
  color: #fff;
  transform: translateX(3px);
}

.project a:hover {
  color: #fff;
  transform: translateY(5px);
}
.project-image {
  height: 80%;
  width: 100%;
  object-fit: cover;
  border-bottom: 3px solid #fff;
}

.project-title {
  font-size: 20px;
  padding: 20px 5px 10px 5px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 480px) {
  .projects-section-heading {
    font-size: 20px;
    width: 50%;
  }
}



/*------- footer section styling --------*/

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  height: 0vh;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  background: #034694;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  padding: 0 20px;
  background: ;
}

.quick-links, .quick-links li a {
  text-decoration: none;
  text-align: left;
  color: #fff;
  font-size: 16px;
  margin: 10px;
  width: 30vw;
}

.footer-social-links, .footer-social-links li a {
  text-decoration: none;
  text-align: left;
  color: #fff;
  font-size: 16px;
  margin: 10px;
  width: 30vw;
}

.copyright-info {
  color: #fff;
  font-size: 13px;
}

@media screen and (max-width: 480px) {
  .copyright-info {
    
  }
}

/*------ ending of global styling -----*/

/*------ about-section styling ------*/
.about-section {
  margin-top: 100px;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin-top: 10px;
  background: #fff;
}
.img-container2 {
  display: flex;
  justify-content: center;
  height: 40vh;
  width: 100%;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 5px;
}
.myImg2 {
  display: block;
  height: auto;
  width: 33.3%;
}
.font-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.font-container > h1 {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  width: 30%;
  border-bottom: 3px solid #002d62;
}

.font-container > p {
  margin: 10px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: ;
  text-align: left;
  width: 75%;
  color: #000;
}

.links {
  color: #002d62;
}

@media screen and (max-width: 480px) {
  .img-container2 {
    height: 40vh;
   }
   .font-container {
     width: auto;
   }
  .font-container h1 {
    font-size: 25px;
    width: 50%;
  }
  .font-container p {
    font-size: 18px;
    width: 85%;
  }
}

/*-------- ending of about-page styling -----------*/

/*----- beginning of projects page styling -----*/
.projects-page-section {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 100px;
}

.projects-page-heading {
  width: 40%;
  border-bottom: 3px solid #002d62;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  margin-bottom: 10px;
  margin-top: 80px;
}
.projects-p {
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  width: 90%;
  margin-bottom: 20px;
}
@media screen and (min-width: 720px) {
  .projects-page-heading {
    width: 30%;
    font-size: 2.5rem;
    align-self: flex-start;
    margin-left: 10%;
  }

}
/*----- ending of projects page styling -----*/

/*-------- beginning contact page styling ----------*/
.contact-page-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 60px;
}
.contact-page-section h2 {
  font-size: 60px;
}

/*----- ending of contact page styling -----*/
