@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/*-----------------------------------
 global attributes 
 -----------------------------------*/
:root {
  --curved-gradient: linear-gradient(#fff, #fff) padding-box, linear-gradient(90deg, #e61062, #5039e3) border-box;
  --primary: #2d4af1;
  --secondary: #f15924;
  --background: #0071bc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /*--------------------------------
   Global styling 
   --------------------------------*/
  body {
    background: #f0f2f5;
  }
  h1 {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h2, h3 {
    font-family: 'Poppins', sans-serif;
    color: var(--background);
    font-size: 2rem;
  }
  p, li, label, a {
    font-family: 'Lora', serif;
    font-size: 1.2rem;
    color: #777;
    line-height: 1.5;
    margin: 10px;
  }
  a {
    font-family: 'Lora', serif;
  }
  label {
    font-size: 1.2rem;
  }
  main {
   max-width: 1500px;
   margin: 0 auto;
  }
  @media only screen and (min-width: 640px) {
    h2, h3 {
      font-size: 3rem;
    }
  }

/*-----------------------------------
  Buttons Styling
-----------------------------------*/
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary);
  color: #fff;
  border-radius: 0.5rem;
  border: 2px solid #fff;
  padding: 0.5rem 2rem;
  min-width: 8rem;
  height: 3rem;
  text-decoration: none;
  font-size: 1rem;
  font-family: 'Pacifico', cursive;
  margin: 0;
}
.fa-chevron-left {
  margin-inline-end: 10px;
}
.fa-chevron-right {
  margin-inline-start: 10px;
} 
.btn:hover { 
  color: #fff;
  background: var(--primary);
  opacity: 0.8;
}
.nav-btn {
    margin: unset;
    margin-inline-start: 0.5rem;
    background: var(--secondary);
    font-family: 'Pacifico', cursive;
}
  

  /*----- navigation menu styling -----*/
.header {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
}
.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    max-width: 1500px;
    padding-inline: 1rem;
    margin: 0 auto;
}
.logo {
    display: flex;
    align-items: center;
    height: 100%;
    width: 80%;
    font-family: 'Pacifico', cursive;
    color: var(--background);
    transition: transform 0.3s ease-out;
    text-decoration: none;
    font-size: 1.8rem;
}
.logo:hover .logo-code {
  color: var(--secondary);
}
.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background: #fff;
  right: -100%;
  top: 70px;
  width: 100%;
  border-top: 2px solid var(--primary);
  border-bottom: 2px solid var(--primary);
  text-align: center;
  transition: 0.3s;
  padding-block: 1rem 2rem;
}
.nav-menu.active {
  right: 0;
}
.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 7rem;
  margin: 1.2rem 0;
  list-style-type: none;
  border-radius: 50px;
}
.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  font-family: 'Lora', serif;
  font-family: 'Pacifico', cursive;
  text-decoration: none;
  color: #000;
}
.nav-item:hover {
  color: var(--primary);
}
.nav-link:hover {
  color: var(--primary);
}
.hamburger {
  display: block;
  cursor: pointer;
  width: auto;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--secondary);
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
  @media only screen and (min-width: 900px) {
    .header {
      padding-inline: 2%;
      height: 100px;
    }
    .logo {
        font-size: 1.8rem;
        width: 30%;
      }
    .nav-menu {
  		 flex-direction: row;
    	 align-items: center;
    	 justify-content: space-between;
    	 height: 100%;
       width: 70%;
    	 position: unset;
   	   background: transparent;
	     border-top: unset;
   	   border-bottom: unset;
    	 text-align: center;
    	 transition: unset;
	     padding: unset;
		  }
    .nav-item {
       margin: 0;
      }
    .nav-link {
       font-size: 1rem;
      }
    .main-menu {
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: flex-end;
       margin: 0;
       width: 100%;
     }
     .hamburger {
       display: none;
      }
      .bar {
        display: none;
      }

  }

  /*--------------------------------
   welcome section styling 
   ---------------------------------*/
.welcome-section {
  background: var(--background);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding-block: 1.5rem;
  margin-block-start: 70px;
  }
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  } 

.hello {
  color: #fff;
}
.text-container > h1 {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 3rem;
  width: 100%;
  text-align: center;
}  
.text-container > h1 > span {
  background: var(--secondary);
  color: #fff;
  display: inline-block;
  text-align: center;
  padding-inline: 1rem;
  margin-inline-start: 1rem;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.intro-text {
  color: #fff;
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
}
.contact-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem;
}
.about-me-btn {
  background: var(--primary);
  color: #fff;
  margin-block-end: 1rem;
  font-family: 'Pacifico', cursive;
}
.cv-btn {
  background: var(--secondary);
  color: #fff;
  font-family: 'Pacifico', cursive;
}
.about-me-btn:hover {
  background: var(--secondary);
}
.myImg {
  height: 100%;
  width: 100%;
}
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 100%;
  }
.social-link {
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.6rem;
  color: #000;
  }
.social-link:hover {
  color: var(--primary);
  transform: translateY(3px);
  }


@media only screen and (min-width: 640px) {
    .welcome-section {
        width: auto;
        flex-direction: row;
        height: 100vh;
        max-height: 768px;
        justify-content: center;
        padding: 0;
      }
      .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        height: 80%;
        width: 60%;
        margin: 0;
        padding-inline: 1rem;
      }
      .hello {
        margin: unset;
      }   
      .text-container > h1 {
        width: 100%;
        text-align: left;
        justify-content: flex-start;
        font-size: 4rem;
        margin-block: 3rem;
      }
      .text-container > h1 > span {
        width: 300px;
        text-align: center;
        margin-inline-start: 1.3rem;
      } 
      .intro-text {
        width: 100%;
        padding: 0;
        padding-block: 1rem;
        padding-inline-end: 2rem;
      }
      .myImg {
        height: 60%;
        width: 30%;
        border-radius: 50%;
      }
      .social-links {
        justify-content: flex-start;
        margin-block: 1rem;
      }
      .social-link {
        margin: unset;
        text-align: center;
        text-decoration: none;
        transition: transform 0.3s ease-out;
        padding: unset;
        padding-inline-end: 1.5rem;
        font-size: 2rem;
      }
      .social-link:hover {
        color: var(--primary);
        transform: translateY(3px);
      }
      .contact-btn-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;
        width: 100%;
        padding: 1rem 0;
      }
      .about-me-btn {
        margin-inline-end: 2rem;
        margin-block-end: 0;
      }
}

/*---------------------------------
 About Section Styling
 --------------------------------*/
.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 0 auto;
}
.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.font-container {
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-section h2 {
  text-align: center;
  margin-block-end: 1rem;
}
.skills-heading {
  font-size: 1.5rem;
}
.skills-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.skill-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}
.skill {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--background);
    color: #fff;
    font-family: 'Lora', serif;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

  @media only screen and (min-width: 640px) {
    .about-me-container {
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
    }
    .font-container {
      justify-content: flex-start;
      padding-inline-end: 2rem;
      padding-block: 0;
      margin: 0;
      height: 100%;
      width: 60%;
      border-right: 1px solid var(--primary);
   }
   .skills-container {
      width: 30%;
      height: 100%;
   }
    
  }
  @media only screen and (min-width: 1024px) {
	  .about-section {
			 }
  }


/*--------------------------------
 projects section styling 
 --------------------------------*/
.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
}
.projects-section-heading {
  padding-block-end: 2rem;
} 
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 2rem;
  width: 100%;
  margin: 0 auto;
  padding-block-end: 3rem;
}
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #fff;
  border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  min-height: 30rem;
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.project-image {
  height: 50%;
  width: 100%;
  object-fit: cover;
}
.project-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
  padding-block-end: 1rem;
  padding-inline: 1rem;
}
.code {
  display: none;
  color: #fff;
  transition: color 0.2s ease-out;
} 
.project:hover .code {
  display: inline;
  color: #034694;
}
.project-title {
  text-align: left;
  font-size: 1.5rem;
  color: var(--background);
  width: 100%;
  padding-block-start: 1rem;
  margin: 0;
}
.project-summary {
  font-size: 1rem;
  text-align: start;
  margin: 0;
  margin-block: 5px;
}
.project-summary > span {
  color: var(--background);
}
.project-link {
  color: var(--secondary);
  font-family: 'Pacifico', cursive;
  text-align: left;
  margin: 0;
}
.project-link:hover {
  color: #034694;
}

@media only screen and (min-width: 640px) {
  .project-section {
    padding: 2rem 3rem;
  }
.projects-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
 }
}


/*--------------------------------
 Contact setion styling 
 --------------------------------*/
.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    text-align: center;
}
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-info-container {
    background: var(--background);
    padding: 1rem;
    margin-block: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 30rem;
    min-width: 300px;
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.contact-text-container {
    border-bottom: 1px solid #ffffff42;
}
.contact-text-container .fas {
    color: #fff;
    font-size: 1.5rem;
}
.contact-text-container p {
    color: #fff;
}

#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 95%;
}
label {
    place-items: left;
    text-align: left;
    padding: 0.5rem 1rem;
    color: #777;
    font-family: 'Lora', serif;
}
#contact-form input {
    height: 2.3rem;
    width: 100%;
    border: none;
    border-radius: 50px;
    margin-block-end: 1rem;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 0px 1px rgba(0,0,0,0.2);
    padding: 1rem;
}
#contact-form textarea {
  height: 6rem;
  width: 100%;
  border: none;
  border-radius: 50px;
  margin-block-end: 2rem;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 0px 1px rgba(0,0,0,0.2);
  padding: 1rem 2rem;
}
a.btn.send-btn {
  background: var(--secondary);
  place-self: center;
}

@media only screen and (min-width: 640px) {
.contact-container {
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
}
 .contact-info-container {
    height: 30rem;
    width: 50%;
}
 .contact-text-container .fas {
    font-size: 2rem;
}
 #contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}
}


  /*--------------------------------
 Footer setion styling 
 --------------------------------*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    width: 100%;
    background: var(--background);
    padding: 2rem 1rem;
  }
  
  .copyright-info > p {
    color: #fff;
    font-size: 0.7rem;
    margin: 0;
  }
@media only screen and (min-width: 640px) {
    .copyright-info > p {
    font-size: 1rem;
  }
 }



/*--------------------------------
 projects page styling 
 --------------------------------*/
 .projects-page-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
  margin-top: 100px;
}



/*--------------------------------
 Individual project page styling 
 --------------------------------*/

/*--------------------------------
 Individual project section styling 
 --------------------------------*/

.individual-project-page-section {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 100px;
}
.project-intro-heading {
    font-size: 1.8rem;
}
.individual-project-page-section ul {
    width: 80%;
    margin-inline-start: 2rem;
}
.project-status span {
 color: var(--primary);
}
.flex-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.project-screenshot {
  height: 15rem;
  width: 90%;
  margin-block: 1rem;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
@media only screen and (min-width: 640px) {
  .project-intro-heading {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .project-screenshot {
    width: 30%;
    margin: 1rem;
}
 .individual-project-page-section {
    align-items: flex-start;
    width: 80%;
}
.flex-box {
    display: flex;
    flex-direction: row;
    width: auto;
}
 .project-screenshot {
    width: 30%;
}
}

/*--- error page styling --*/
.error-page-section {
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}