@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Poppins:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Alegreya:ital,wght@0,400;0,500;1,400;1,500&family=Pacifico&display=swap');

/*-----------------------------------
 global attributes 
 -----------------------------------*/
:root {
  --curved-gradient: linear-gradient(#fff, #fff) padding-box, linear-gradient(90deg, #e61062, #5039e3) border-box;
  --primary: #2d4af1;
  --secondary: #ff7401;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /*--------------------------------
   Global styling 
   --------------------------------*/
  body {
    background: #f0f2f5;
  }
  h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.7rem;
  }
  h2, h3 {
    font-family: 'Poppins', sans-serif;
    color: var(--primary);
  }
  p, li {
    font-family: 'Alegreya', serif;
    font-size: 1.2rem;
    color: #777;
    line-height: 1.5;
    margin: 10px;
  }
  a {
    font-family: 'Alegreya', serif;
  }
  label {
    font-size: 1.2rem;
  }
  main {
   max-width: 1500px;
   margin: 0 auto;
  }
  @media only screen and (min-width: 640px) {
    h1 {
      font-size: 3.5rem;
    }
    h2, h3 {
      font-size: 2rem;
    }
    p, label, li {
      font-size: 1.5rem;
    }
  }  
  @media only screen and (min-width: 1024px) {
    h1 {
      font-size: 4rem;
    }
    h2, h3 {
      font-size: 2.2rem;
    }
    p, label, li {
      font-size: 1.3rem;
    }
  }

/*-----------------------------------
  Buttons Styling
-----------------------------------*/
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  place-self: center;
  background: var(--primary);
  color: #fff;
  border: 3px solid transparent; 
  border-radius: 50px;
  block-size: 2rem;
  padding: 1rem;
  inline-size: auto;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bolder;
  font-family: 'Alegreya', serif;
}
.fa-chevron-left {
  margin-inline-end: 10px;
}
.fa-chevron-right {
  margin-inline-start: 10px;
} 
.btn:hover { 
  color: #fff;
  background: #f94a8d;
}
.nav-btn {
    inline-size: 120px;
    margin: unset;
    margin-inline-start: 0.5rem;
    background: var(--secondary);
}
  

  /*----- navigation menu styling -----*/
.header {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    padding-inline: 1rem;
}
.logo {
    display: flex;
    align-items: center;
    height: 100%;
    font-family: 'Pacifico', cursive;
    color: var(--primary);
    transition: transform 0.3s ease-out;
    text-decoration: none;
    font-size: 1.8rem;
}
.logo:hover .logo-code {
  color: purple;
}
.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background: #fff;
  right: -100%;
  top: 5rem;
  width: 50%;
  border-top: 2px solid var(--primary);
  border-bottom: 2px solid var(--primary);
  text-align: center;
  transition: 0.3s;
  padding-block: 1rem 2rem;
}
.nav-menu.active {
  right: 0;
}
.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 7rem;
  margin: 1.2rem 0;
  list-style-type: none;
  border-radius: 50px;
}
.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  font-family: 'Alegreya', serif;
  font-weight: bolder;
  text-decoration: none;
  color: #777;
}
.nav-item:hover {
  color: var(--primary);
}
.nav-link:hover {
  color: var(--primary);
}
.hamburger {
  display: block;
  cursor: pointer;
  width: auto;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--primary);
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
  @media only screen and (min-width: 640px) {
   .header {
        height: 80px;
      }
   .navbar {
        padding-inline: 1.5rem;
      }
    .logo {
        font-size: 2rem;
      }
    .nav-menu {
  		 flex-direction: row;
    	 align-items: center;
    	 justify-content: space-between;
    	 height: 100%;
    	 position: unset;
   	   background: transparent;
	     border-top: unset;
   	   border-bottom: unset;
    	 text-align: center;
    	 transition: unset;
	     padding: unset;
		  }
    .nav-item {
       margin: 0;
      }
    .nav-link {
       font-size: 1.2rem;
      }
    .main-menu {
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: flex-end;
       margin: 0;
       width: 100%;
     }
    .contact-btn {
       margin-inline-end: 2rem;
     }
     .hamburger {
       display: none;
      }
      .bar {
        display: none;
      }

  }
  @media only screen and (min-width: 1024px) {
    .navbar {
      	padding-inline: 3rem;
	    }
     .logo {
        font-size: 2.5rem;
      }
      .nav-link {
       font-size: 1.2rem;
      }
      .contact-btn {
        margin-inline-end: 2rem;
      }
      .hamburger {
        display: none;
      }
      .bar {
        display: none;
      }

  }

  /*--------------------------------
   welcome section styling 
   ---------------------------------*/
.welcome-section {
  background: inherit/*url(/images/background-img1.jpg)*/;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding-block: 1.5rem;
  }
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  } 
.text-container > h1 {
  display: flex;
  justify-content: center;
  color: var(--primary);
  height: 4rem;
  width: 100%;
  text-align: center;
  }  
.text-container > h1 > span {
  background: var(--primary);
  color: #fff;
  width: 12rem;
  display: inline-block;
  text-align: center;
  padding-inline: 1rem;
  margin-inline-start: 1rem;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  }
.intro-text {
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
  }
.contact-btn-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10rem;
  }
.about-me-btn {
  background: var(--primary);
  color: #fff;
  width: 10rem;
  margin-block: 1rem;
  }
.cv-btn {
  background: var(--secondary);
  color: #fff;
  width: 10rem;
  }
.myImg {
  height: 100%;
  width: 100%;
}
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 100%;
  }
.social-link {
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.6rem;
  }
.social-link:hover {
  color: var(--primary);
  transform: translateY(3px);
  }
  

@media only screen and (min-width: 640px) {
  .welcome-section {
    padding: 2rem 0;
  }
  .text-container > h1 {
    margin-block: 1rem;
    height: 5rem;
  }
  .text-container > h1 > span {
    width: 16rem;
  }
  .social-links {
    padding: 1rem auto;
    height: 5rem;
  }
  .social-link {
    font-size: 2.3rem;
  }
  .myImg {
    width: 50%;
  }
  .contact-btn-container {
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    height: 7rem;
    margin-block-end: 3rem;
  }
}

@media only screen and (min-width: 1024px) {
    .welcome-section {
        width: auto;
        flex-direction: row;
        height: 90vh;
        max-height: 768px;
        justify-content: center;
        max-width: 1440px;
      }
      .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        height: 100%;
        width: 60%;
        margin: 0;
        padding-inline-end: 2rem;
      }
      .hello {
        margin: unset;
      }   
      .text-container > h1 {
        width: 100%;
        height: 6rem;
        text-align: left;
        justify-content: flex-start;
      }
      .text-container > h1 > span {
        width: 300px;
        display: inline-block;
        text-align: center;
        margin-inline-start: 1.3rem;
      } 
      .intro-text {
        width: 100%;
        color: #777;
        padding-inline-end: 3rem;
      }
      .myImg {
        height: 78%;
        width: 30%;
        border-radius: 50%;
      }
      .social-links {
        justify-content: flex-start;
      }
      .social-link {
        margin: unset;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        transition: transform 0.3s ease-out;
        padding: unset;
        padding-inline-end: 1.5rem;
      }
      .social-link:hover {
        color: var(--primary);
        transform: translateY(3px);
      }
      .contact-btn-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        height: 5rem;
      }
    
}

/*---------------------------------
 About Section Styling
 --------------------------------*/
.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  max-width: 1440px;
  margin: 0 auto;
}
.font-container {
  padding-block: 1rem;
}
.font-container h2 {
  text-align: center;
}
.profile-img-container {
    width: 100%;
    height: 120px;
    display: none;
 }
 .profile-img1 {
    width: 33.3%;
    height: auto;
 }
.profile-img2 {
    width: 33.3%;
    height: auto;
}
.profile-img3 {
    width: 33.3%;
    height: auto;
}
.skills-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    padding-block-end: 2rem;
}
  .skills-container > p {
    margin: unset;
    padding-block-start: 1rem;
    padding-inline-start: 1rem;
    text-align: left;
    width: 100%;
}
  .skill-container {
    width: 100%;
    height: 2rem;
    background-color: #808080;
    border-radius: 50px;
    overflow: hidden;
}
 .skill {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--primary);
    color: #fff;
    height: 100%;
    font-family: 'Alegreya',serif;
    font-weight: bolder;
 }
  .html {
    width: 93%;
  } 
  .css {
    width: 95%;
  }
  .js {
    width: 80%;
  }

  @media only screen and (min-width: 640px) {
		.about-section {
			 flex-direction: row;
 		   justify-content: space-between;
			 height: 55rem;
    }
    .font-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding-inline: 2rem;
      padding-block: 0;
      flex: 1;
      height: 100%;
      width: 60%;
      border-right: 1px solid var(--primary);
   }
    .profile-img-container {
        width: 100%;
        height: 120px;
        display: none;
     }
     .profile-img1 {
        width: 33.3%;
        height: auto;
     }
    .profile-img2 {
        width: 33.3%;
        height: auto;
    }
    .profile-img3 {
        width: 33.3%;
        height: auto;
    }
     .skills-container {
		    align-items: unset;
        justify-content: flex-start;
    		width: 30%;
    		height: 100%;
    		margin: 0 auto;
    		padding-block-end: 0;
    		padding-inline-start: 2rem;
		}
		.skills-container > p {
        margin-right: 10px;
      }
      .skill-container {
        width: 80%; 
        background-color: #808080;
        margin-inline-end: 20px;
      }
    
  }
  @media only screen and (min-width: 1024px) {
	  .about-section {
			 height: 35rem;
    }
  }


/*--------------------------------
 projects section styling 
 --------------------------------*/
.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
}
.projects-section-heading {
  padding-block-end: 2rem;
  color: var(--primary);
} 
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 2rem;
  width: 100%;
  margin: 0 auto;
  padding-block-end: 3rem;
}
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #fff;
  border-radius: 1rem;
  height: 500px;
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.project-image {
  height: 50%;
  width: 100%;
  object-fit: cover;
}
.project-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
  padding-block-end: 1rem;
  padding-inline: 1rem;
}
.code {
  color: #fff;
  transition: color 0.2s ease-out;
} 
.project:hover .code {
  color: #034694;
}
.project-title {
  text-align: left;
  font-size: 1.2rem;
  padding-block: 0.5rem 0;
  color: var(--primary);
}
.project-summary {
  font-size: 1rem;
  text-align: start;
}
.project-summary > span {
  color: var(--primary);
}
.project-link {
  color: var(--secondary);
  text-decoration: none;
  text-align: left;
  padding-inline-start: 1rem;
}

@media only screen and (min-width: 640px) {
  .project-section {
    padding: 2rem 3rem;
  }
.projects-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
 }
}


/*--------------------------------
 Contact setion styling 
 --------------------------------*/
.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    text-align: center;
}
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-info-container {
    background: var(--primary);
    padding: 1rem;
    border-radius: 10px;
    margin-block: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 23rem;
}
.contact-text-container {
    border-bottom: 1px solid #ffffff42;
}
.contact-text-container .fas {
    color: #fff;
    font-size: 1.5rem;
}
.contact-text-container p {
    color: #fff;
}

#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 95%;
}
label {
    place-items: left;
    text-align: left;
    padding: 0.5rem 1rem;
    color: #777;
    font-family: 'Alegreya', serif;
}
#contact-form input {
    height: 2.3rem;
    width: 100%;
    border: none;
    border-radius: 50px;
    margin-block-end: 1rem;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 0px 1px rgba(0,0,0,0.2);
    padding: 1rem;
}
#contact-form textarea {
    height: 6rem;
    width: 100%;
    border: none;
    border-radius: 50px;
    margin-block-end: 2rem;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 0px 1px rgba(0,0,0,0.2);
    padding: 1rem 2rem;
}

@media only screen and (min-width: 640px) {
.contact-container {
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
}
 .contact-info-container {
    height: 30rem;
    width: 50%;
}
 .contact-text-container .fas {
    font-size: 2rem;
}
 #contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}
}


  /*--------------------------------
 Footer setion styling 
 --------------------------------*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    width: 100%;
    background: var(--primary);
    padding: 2rem 1rem;
  }
  
  .copyright-info > p {
    color: #fff;
    font-size: 0.7rem;
    margin: 0;
  }
@media only screen and (min-width: 640px) {
    .copyright-info > p {
    font-size: 1rem;
  }
 }


/*--------------------------------
 Individual project page styling 
 --------------------------------*/

/*--------------------------------
 Individual project section styling 
 --------------------------------*/

.individual-project-page-section {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.project-intro-heading {
    font-size: 1.8rem;
}
.individual-project-page-section ul {
    width: 80%;
    margin-inline-start: 2rem;
}
.project-status span {
 color: var(--primary);
}
.flex-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1440px;
}
.project-screenshot {
  height: 15rem;
  width: 90%;
  margin-block: 1rem;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
@media only screen and (min-width: 640px) {
  .project-intro-heading {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .project-screenshot {
    width: 30%;
    margin: 1rem;
}
 .individual-project-page-section {
    align-items: flex-start;
    width: 80%;
}
.flex-box {
    display: flex;
    flex-direction: row;
    width: auto;
}
 .project-screenshot {
    width: 30%;
}
}

/*--- error page styling --*/
.error-page-section {
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}