@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Poppins:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Alegreya:ital,wght@0,400;0,500;1,400;1,500&family=Pacifico&display=swap');

/*-----------------------------------
 global attributes 
 -----------------------------------*/
:root {
  --curved-gradient: linear-gradient(#fff, #fff) padding-box, linear-gradient(90deg, #e61062, #5039e3) border-box;
  --primary: #e61062;
  --secondary: #5039e3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /*--------------------------------
   Global styling 
   --------------------------------*/
  body {
    background: #f0f2f5;
  }
  h1 {
    font-family: 'Poppins', sans-serif;
  }
  h2, h3 {
    font-family: 'Poppins', sans-serif;
    color: var(--primary);
  }
  p {
    font-family: 'Alegreya', serif;
    color: #777;
    line-height: 1.5;
    margin: 10px;
  }
  a {
    font-family: 'Alegreya', serif;
  }

  main {
   max-width: 1500px;
   margin: 0 auto;
  }


/*-----------------------------------
  Buttons Styling
-----------------------------------*/
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  place-self: center;
  background: var(--primary);
  color: #fff;
  border: 3px solid transparent; 
  border-radius: 50px;
  height: 40px;
  padding: 1.2rem;
  width: auto;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Lora', serif;
}
.fa-chevron-left {
  margin-inline-end: 10px;
}
.fa-chevron-right {
  margin-inline-start: 10px;
} 
.btn:hover { 
  color: #fff;
  background: #f94a8d;
}
.nav-btn {
  width: 100px;
  height: 40px;
  background: var(--primary);
  font-family: 'Alegreya', serif;
  color: #fff;
  margin: unset;
  margin-inline-start: 0.5rem;
}
  

  /*----- navigation menu styling -----*/
.header {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    padding-inline: 1rem;
}
.logo {
    display: flex;
    align-items: center;
    height: 100%;
    font-family: 'Pacifico', cursive;
    color: var(--primary);
    transition: transform 0.3s ease-out;
    text-decoration: none;
    font-size: 1.8rem;
}
.logo:hover .logo-code {
  color: purple;
}
.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background: #fff;
  right: -100%;
  top: 5rem;
  width: 50%;
  border-top: 2px solid var(--primary);
  border-bottom: 2px solid var(--primary);
  text-align: center;
  transition: 0.3s;
  padding-block: 1rem 2rem;
}
.nav-menu.active {
  right: 0;
}
.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 7rem;
  margin: 1.2rem 0;
  list-style-type: none;
  border-radius: 50px;
}
.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-family: 'Alegreya', serif;
  font-weight: bolder;
  text-decoration: none;
  color: #777;
}
.nav-item:hover {
  color: var(--primary);
}
.nav-link:hover {
  color: var(--primary);
}

.hamburger {
  display: block;
  cursor: pointer;
  width: auto;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--primary);
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
  @media only screen and (min-width: 640px) {
   .header {
        height: 100px;
      }
   .navbar {
        padding-inline: 1.5rem;
      }
    .logo {
        font-size: 2rem;
      }
    .nav-menu {
  		 flex-direction: row;
    	 align-items: center;
    	 justify-content: space-between;
    	 height: 100%;
    	 position: unset;
   	   background: transparent;
	     border-top: unset;
   	   border-bottom: unset;
    	 text-align: center;
    	 transition: unset;
	     padding: unset;
		  }
    .nav-item {
       margin: 0;
      }
    .nav-link {
       font-size: 1.3rem;
      }
    .main-menu {
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: flex-end;
       margin: 0;
       width: 100%;
     }
    .contact-btn {
       font-size: 1.3rem;
       margin-inline-end: 2rem;
       
     }
     .hamburger {
       display: none;
      }
      .bar {
        display: none;
      }

  }
  @media only screen and (min-width: 1024px) {
    .navbar {
      	padding-inline: 3rem;
	    }
     .logo {
        font-size: 2.5rem;
      }
      .nav-link {
       font-size: 1.2rem;
      }
      .contact-btn {
        font-size: 1.2rem;
        margin-inline-end: 2rem;
      }
      .hamburger {
        display: none;
      }
      .bar {
        display: none;
      }

  }

  /*--------------------------------
   welcome section styling 
   ---------------------------------*/
.welcome-section {
  background: inherit/*url(/images/background-img1.jpg)*/;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding-block: 1.5rem;
  }
  
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  } 
  
 .text-container > h1 {
   display: flex;
   justify-content: center;  
   font-size: 2.7rem;
   color: var(--primary);
   height: 4rem;
   width: 100%;
   text-align: center;
  }  
 .text-container > h1 > span {
   background: var(--primary);
   color: #fff;
   width: 12rem;
   display: inline-block;
   text-align: center;
   padding-inline: 1rem;
   margin-inline-start: 1rem;
   border-top-left-radius: 2rem;
   border-bottom-right-radius: 2rem;
  }
  .hello {
    font-size: 1.2rem;
    color: #777;
  }
  .intro-text {
    font-size: 1.2rem;
    color: #777;
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
  } 
  .about-link {
    color: var(--primary);
    font-family: 'Lora', serif;
    font-weight: bold;
    margin-block-end: 20px;
  }
  .contact-btn-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10rem;
  }
  .about-me-btn {
    background: var(--primary);
    color: #fff;
    width: 10rem;
    margin-block: 1rem;
  }
  .cv-btn {
    background: #9303c3;
    color: #fff;
    width: 10rem;
  }
  .img-container {
    height: 35vh;
    width: 55vw;
    background: radial-gradient(#5039e3, #e61062);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-block: 2rem;
    border-bottom-right-radius: 400%;
    border-top-left-radius: 200%;
    border-bottom-left-radius: 50%;
}
  .myImg {
    height: 150%;
    width: 140%;
    position: relative;
    top: -35%;
    left: -30%;
  }
  .contact-links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 100%;
  }
  .contact-link {
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem;
  }
  .contact-link:hover {
    color: var(--primary);
    transform: translateY(3px);
  }
  

@media only screen and (min-width: 640px) {
  .welcome-section {
    padding: 2rem;
  }
  .text-container > h1 {
    font-size: 3.5rem;
    margin-block: 1rem;
    height: 5rem;
  }
  .text-container > h1 > span {
    width: 16rem;
  }
  .intro-text, .hello {
    font-size: 1.5rem;
  }
  .contact-links {
    padding: 1rem auto;
    height: 5rem;
  }
  .contact-link {
    margin: 10px;
    font-size: 3rem;
  }
 .img-container {
    height: 50vh;
    max-height: 450px;
    width: 55vw;
    max-width: 500px;
  }
  .myImg {
    height: 140%;
    width: 130%;
    top: -30%;
    left: -22%;
  }
  .contact-btn-container {
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    height: 10rem;
  }
}

@media only screen and (min-width: 1024px) {
    .welcome-section {
        width: auto;
        flex-direction: row;
        height: 90vh;
        max-height: 768px;
        justify-content: center;
        max-width: 1440px;
      }
      .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        height: 100%;
        margin: 0;
        width: 50%;
      }
      .hello {
        font-size: 1.3rem;
        margin: unset;
      }   
      .text-container > h1 {
        width: 100%;
        height: 6rem;
        font-size: 4rem;
        text-align: left;
        justify-content: flex-start;
      }
      .text-container > h1 > span {
        width: 300px;
        display: inline-block;
        text-align: center;
        margin-inline-start: 1.3rem;
      } 
      .intro-text {
        font-size: 1.3rem;
        width: 100%;
        color: #777;
        padding: 1.5rem 0;
      }
      .img-container {
        height: 20rem;
        width: 30vw;
        margin-inline-start: 5rem;
        margin-block-end: 20px;
      }
 
      .myImg {
        height: 150%;
        position: relative;
      }
      .contact-links {
        justify-content: flex-start;
      }
      .contact-link {
        margin: unset;
        text-align: center;
        text-decoration: none;
        font-size: 2rem;
        font-weight: bold;
        transition: transform 0.3s ease-out;
        padding: unset;
        padding-inline-end: 2rem;
      }
      .contact-link:hover {
        color: var(--primary);
        transform: translateY(3px);
      }
      .contact-btn-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        height: 5rem;
      }
    
}

/*---------------------------------
 About Section Styling
 --------------------------------*/
 .about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 1rem;
    max-width: 1440px;
    margin: 0 auto;
}
.font-container {
    padding-block: 1rem;
}
.font-container h2 {
    text-align: center;
}
.font-container p {
     font-size: 1.2rem;
)
.profile-img-container {
    width: 100%;
    height: 120px;
    display: none;
  
 }
 .profile-img1 {
    width: 33.3%;
    height: auto;
 }
.profile-img2 {
    width: 33.3%;
    height: auto;
}
.profile-img3 {
    width: 33.3%;
    height: auto;
}
.skills-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    padding-block-end: 2rem;
}
  .skills-container > p {
    font-size: 1.2rem;
    margin: unset;
    padding-block-start: 1rem;
    padding-inline-start: 1rem;
    text-align: left;
    width: 100%;
}
  .skill-container {
    width: 100%;
    height: 2rem;
    background-color: #808080;
    border-radius: 50px;
    overflow: hidden;
}
 .skill {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--primary);
    color: #fff;
    height: 100%;
    font-family: 'Alegreya',serif;
    font-weight: bolder;
 }
  .html {
    width: 93%;
  } 
  .css {
    width: 95%;
  }
  .js {
    width: 80%;
  }

  @media only screen and (min-width: 640px) {
		.about-section {
			 flex-direction: row;
 		   justify-content: space-between;
			 height: 30rem;
    }
		.font-container {
    		padding-inline: 2rem 3rem;
				padding-block: 0;
    		flex: 1;
    		height: 100%;
				border-right: 1px solid var(--primary);
		}
    .font-container p {
        font-size: 1.3rem;
    )
    .profile-img-container {
        width: 100%;
        height: 120px;
        display: none;
     }
     .profile-img1 {
        width: 33.3%;
        height: auto;
     }
    .profile-img2 {
        width: 33.3%;
        height: auto;
    }
    .profile-img3 {
        width: 33.3%;
        height: auto;
    }
     .skills-container {
		    align-items: unset;
    		width: 35%;
    		height: 100%;
    		margin: 0 auto;
    		padding-block-end: 0;
    		padding-inline-start: 2rem;
		}
		.skills-container > p {
        font-size: 1.3rem;
        margin-right: 10px;
      }
      .skill-container {
        width: 80%; 
        background-color: #808080;
        margin-inline-end: 20px;
      }
    
  }
  @media only screen and (min-width: 1024px) {
	  .about-section {
			 height: 25rem;
    }
			.skills-container {
    		justify-content: flex-start;
		}
      
  }



/*--------------------------------
 projects section styling 
 --------------------------------*/
.projects-section {
    text-align: center;
    padding: 20px;
    height: auto;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .projects-section-heading {
    margin-block-end: 30px;
    color: var(--primary);
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 30px;
    height: auto;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .project {
    background: #fff;
    border-radius: 20px;
    height: 400px;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  .project-img-container {
    height: 45%;
  }
  .code {
    color: #fff;
    transition: color 0.2s ease-out;
  }
  
  .project:hover .code {
    color: #034694;
  }
  .project-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .project-summary {
    padding: 0 5px;
  }
  
  .project-title {
    text-align: center;
    font-family: 'Alkatra', cursive;
    font-size: 1rem;
    color: var(--primary);
  }
  .project-summary > p {
    font-size: 1rem;
    height: 5.3rem;
  }

@media only screen and (min-width: 1024px) {
.projects-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
 }
}


/*--------------------------------
 Contact setion styling 
 --------------------------------*/
.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    text-align: center;
}
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-info-container {
    background: var(--primary);
    padding: 1rem;
    border-radius: 10px;
    margin-block: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20rem;
}
.contact-text-container {
    border-bottom: 1px solid #ffffff42;
}
.contact-text-container .fas {
    color: #fff;
    font-size: 1.3rem;
}
.contact-text-container p {
    color: #fff;
}

#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
}
label {
    place-items: left;
    text-align: left;
    padding: 0.5rem 1rem;
    color: #777;
    font-family: 'Alegreya', serif;
}
#contact-form input {
    height: 2.3rem;
    width: 100%;
    border: none;
    border-radius: 50px;
    margin-block-end: 1rem;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 0px 1px rgba(0,0,0,0.2);
    padding: 1rem;
}
#contact-form textarea {
    height: 5rem;
    width: 100%;
    border: none;
    border-radius: 50px;
    margin-block-end: 1rem;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 0px 1px rgba(0,0,0,0.2);
    padding: 1rem;
}

@media only screen and (min-width: 640px) {
.contact-container {
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    padding: 1rem;
}
 .contact-info-container {
    padding: 1rem;
    border-radius: 10px;
    height: 25rem;
    width: 40%;
}
 .contact-text-container .fas {
    font-size: 1.7rem;
}
 #contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}
}


  /*--------------------------------
 Footer setion styling 
 --------------------------------*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    width: 100%;
    background: linear-gradient(30deg, #5039e3, #e61062);
    padding: 2rem 1rem;
  }
  
  .copyright-info > p {
    color: #fff;
    font-size: 0.7rem;
    margin: 0;
  }
@media only screen and (min-width: 640px) {
    .copyright-info > p {
    font-size: 1rem;
  }
 }


/*--------------------------------
 Individual project page styling 
 --------------------------------*/

/*--------------------------------
 Individual project section styling 
 --------------------------------*/

.individual-project-page-section {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.project-intro-heading {
    font-size: 1.8rem;
}
.individual-project-page-section h2{
    font-size: 1.4rem;
}
.individual-project-page-section ul {
    width: 80%;
    margin-inline-start: 2rem;
}
.project-status span {
 color: var(--primary);
}
.project-screenshot {
    width: 90%;
    margin: 1rem;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


@media only screen and (min-width: 1024px) {
 .individual-project-page-section {
    align-items: flex-start;
    width: 80%;
}
.flex-box {
    display: flex;
    justify-content: center;
    max-width: 1440px;
}
 .project-screenshot {
    width: 30%;
}
 
 
}


/*--- error page styling --*/
.error-page-section {
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}
